<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep Moje Kółka</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>

<body>
    <header>
        <img id="logo" src="static/images/piesek.bmp" alt="logo Moje Kółka">
        <h1>Moje Kółka</h1>
        <h3>Z nami daleko nie zajedziesz!</h3>
        <nav>
            <a href="/">Strona główna</a>
            <a href="/products">Produkty</a>
            <a href="/contact">Kontakt</a>
        </nav>
    </header>
    <main>
        <section class="left">
            {% block left %}{% endblock %}
        </section>
        <section class="right">
            {% block right %}{% endblock %}
        </section>
    </main>
    <footer>

    </footer>
    <script src="static/js/basic.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>