{% extends 'base.html' %}

{% block left %}
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium orci ut egestas fermentum. Ut
iaculis dolor in justo lacinia, et pretium turpis interdum. Vestibulum lacinia bibendum ante, vitae
convallis arcu fringilla nec. Sed volutpat dapibus ipsum, sed rhoncus justo posuere ut. Praesent sit amet
erat mi. Suspendisse potenti. Etiam ligula sapien, consequat eu tempus non, lacinia ut neque. Mauris a nisi
et odio consequat commodo. Maecenas venenatis tristique nisi. Maecenas molestie tortor ac dolor tincidunt,
vel ultricies arcu blandit. Vivamus pharetra, elit et fringilla sollicitudin, orci nunc tincidunt ipsum, et
eleifend purus ligula et nunc. Nullam id blandit ligula. Sed id aliquet felis. Etiam non ultricies dui.
{% endblock %}

{% block right %}
Reklama
{% endblock %}