* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: #FDFFE3;
    background-color: #546D93;
    padding: 20px;
}

header a {
    color: #FDFFE3;
    text-decoration: none;
}

header img {
    height: 100px;
}
